<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>List</servlet-name>
    <servlet-class>ListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Item</servlet-name>
    <servlet-class>ItemServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Branch</servlet-name>
    <servlet-class>BranchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Shop</servlet-name>
    <servlet-class>ShopServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Supervisor</servlet-name>
    <servlet-class>SupervisorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Clerk</servlet-name>
    <servlet-class>ClerkServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Return</servlet-name>
    <servlet-class>ReturnServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddRentalInput</servlet-name>
    <servlet-class>AddRentalInputServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddRental</servlet-name>
    <servlet-class>AddRentalServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShopList</servlet-name>
    <servlet-class>ShopListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>AddUserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddUserInput</servlet-name>
    <servlet-class>AddUserInputServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddUserInput</servlet-name>
    <servlet-class>AddUserInputServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShopListSV</servlet-name>
    <servlet-class>ShopListSVServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShopSV</servlet-name>
    <servlet-class>ShopSVServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DeleteShop</servlet-name>
    <servlet-class>DeleteShopServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddShopInput</servlet-name>
    <servlet-class>AddShopInputServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddShop</servlet-name>
    <servlet-class>AddShopServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddClerkInput</servlet-name>
    <servlet-class>AddClerkInputServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddClerk</servlet-name>
    <servlet-class>AddClerkServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetClerk</servlet-name>
    <servlet-class>GetClerkServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetClerkInput</servlet-name>
    <servlet-class>GetClerkInputServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RemoveClerk</servlet-name>
    <servlet-class>RemoveClerkServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ClerkList</servlet-name>
    <servlet-class>ClerkListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MediaList</servlet-name>
    <servlet-class>MediaListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddMediaInput</servlet-name>
    <servlet-class>AddMediaInputServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddMedia</servlet-name>
    <servlet-class>AddMediaServlet</servlet-class>
  </servlet>
 
 <servlet>
    <servlet-name>GetMediaInput</servlet-name>
    <servlet-class>GetMediaInputServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetMedia</servlet-name>
    <servlet-class>GetMediaServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RemoveMedia</servlet-name>
    <servlet-class>RemoveMediaServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>History</servlet-name>
    <servlet-class>HistoryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShopListUS</servlet-name>
    <servlet-class>ShopListUSServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MediaListUS</servlet-name>
    <servlet-class>MediaListUSServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Media</servlet-name>
    <servlet-class>MediaServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Item</servlet-name>
    <url-pattern>/item</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Branch</servlet-name>
    <url-pattern>/branch</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Supervisor</servlet-name>
    <url-pattern>/supervisor</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Clerk</servlet-name>
    <url-pattern>/clerk</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Return</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddRentalInput</servlet-name>
    <url-pattern>/add_rental_input</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddRental</servlet-name>
    <url-pattern>/add_rental</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShopList</servlet-name>
    <url-pattern>/shoplist</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/add_user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddUserInput</servlet-name>
    <url-pattern>/add_user_input</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShopListSV</servlet-name>
    <url-pattern>/shoplist_sv</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ShopSV</servlet-name>
    <url-pattern>/shop_sv</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeleteShop</servlet-name>
    <url-pattern>/delete_shop</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddShopInput</servlet-name>
    <url-pattern>/add_shop_input</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddShop</servlet-name>
    <url-pattern>/add_shop</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddClerkInput</servlet-name>
    <url-pattern>/add_clerk_input</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddClerk</servlet-name>
    <url-pattern>/add_clerk</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetClerk</servlet-name>
    <url-pattern>/get_clerk</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetClerkInput</servlet-name>
    <url-pattern>/get_clerk_input</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RemoveClerk</servlet-name>
    <url-pattern>/remove_clerk</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ClerkList</servlet-name>
    <url-pattern>/clerklist</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>MediaList</servlet-name>
    <url-pattern>/medialist</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddMediaInput</servlet-name>
    <url-pattern>/add_media_input</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddMedia</servlet-name>
    <url-pattern>/add_media</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetMediaInput</servlet-name>
    <url-pattern>/get_media_input</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetMedia</servlet-name>
    <url-pattern>/get_media</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RemoveMedia</servlet-name>
    <url-pattern>/remove_media</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShopListUS</servlet-name>
    <url-pattern>/shoplist_us</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MediaListUS</servlet-name>
    <url-pattern>/medialist_us</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Media</servlet-name>
    <url-pattern>/media</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

</web-app>
